<a href="/dashboard">&larr; Back</a>
<div class="admin_title">
    <h2>Edit Post</h2>

    <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    
        <input type="submit" value="Delete" class="btn-delete btn">

    </form>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">

    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

    <input type="submit" value="Update" class="btn">
</form>


<% if (data.comments.length > 0) { %>
    <% data.comments.forEach(comment => { %>
        <div class="comment">
            <h4><%= comment.name %></h4>
            <p><%= comment.email %></p>
            <p><%= comment.message %></p>
            <form action="/edit-post/<%= data._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            </form>
            <% if (!comment.approved) { %>
                <form action="/approve-comment/<%= data._id %>/comments/<%= comment._id %>" method="POST">
                    <input type="submit" value="Approve?" class="btn btn-sm btn-success">
                </form>
            <% } %>
        </div>
    <% }) %>
<% } else { %>
    <p>No comments yet.</p>
<% } %>
